
.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

}
.cabecalho {  
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.container__botao:checked ~.container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.png");

}

.container__botao:checked ~.container__rotulo {
    background: var(--azul-gradiente);

}
.container {
    display: flex;
    align-items: center;  

}
.container__imagem {
    padding: 0.5em;

}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;

}
.container__botao:checked ~ .lista-menu {
    display: block;
    
}
.lista-menu__titulo,
.lista-menu__item {
    padding: 0.8em;
    background-color: var(--branco);
    color: var(--laranja);
    font-weight: 700;
       
}
.lista-menu__link {
    text-decoration: none;
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Poppins';
    font-weight: 400;

}
.container__botao {
    display: none;

}
.container__titulo {
    display: none;

}
.opcoes {
    display: none;

}
.container__texto {
    display: none;

}

@media screen and (min-width: 1024px) {

.container__titulo, 
.container__titulo-negrito {
    font-family: var(--font-secundaria);
    font-size: 30px;

}

.container__titulo {
    font-weight: 400;
    display: block;

}
.container__titulo-negrito {
    font-weight: 700;

}
.opcoes {
    display: flex;
  
}
.opcoes__item {
    padding: 0 1em;
    font-weight: 400;
    font-family: 'Poppins';
   
}
.opcoes__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-family: 'Poppins';
  
}
.container__imagem-transparente {
    display: none;

}
.cabecalho__menu-hamburguer {
    display: none;

}
.opcoes__botao:checked ~.lista-menu {
    display: block;
    width: auto;

}
.opcoes__botao {
    display: none;

}}

.opcoes__botao:checked ~.opccoes__rotulo> .opcoes__item {
    background-color: var(--azul-gradiente);
    color: var(--branco);
}
.lista-menu__item:hover {
    background: var(--azul-gradiente) ;

}
.lista-menu__item:hover> .lista-menu__link {
    -webkit-text-fill-color: var(--branco) ;
    text-decoration: none;

}


@media screen and (min-width: 1728px) {

.container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.container__texto {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    color: rgba(0, 0, 0, 1);

}

.cabecalho {
    padding: 0 2em;
    
}

.opcoes {
   margin-right: auto;
  
}
.container__titulo {
    margin-right: 1em;

}
.container__texto {
    display: block;

}}